body{
  margin: 0;
}
h1{
  background-color:#525164;
  background-image: linear-gradient(to bottom, #000000, transparent);
  color:#CACACA;
  height:66px;
  line-height: 66px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-left:170px;
}
#x-ray{
  border-radius: 5px;
  border:solid 2px #000000;
  margin-top: 0px;
  position:absolute;
  top:0px;
  user-select:none;
}
#x-ray:hover{
  cursor:pointer;
}
audio{
  visibility: hidden;
}
