body{
  margin: 0;
}
h1{
  color:#CACACA;
  margin-left:170px;
  margin-top: 5px;
}
#x-ray{
  border-radius:5px;
  border:solid 2px #000000;
  margin-top: 0px;
  position:absolute;
  top:0px;
}
#x-ray:hover{
  filter:blur(2px);
  filter:invert(90%);
}
